# Use this file only in dev stage.

services:
  python-container-demo:
    init: true
    image: python-container-demo
    ports:
      - 5000:5000
    build:
      context: .
      target: final
      dockerfile: Dockerfile
    develop:
      watch:
        - action: rebuild
          path: .
          ignore:
            - .venv/
